$btnGold: #f4976c;
.main-container {
  width: 100%;
  height: 20vh;
  .container-form{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 3rem;
      text-align: center;
      height: 30%;
      margin: 20px 0;
    }
    .container-input{
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      height: 70%;
      margin-top: 15px;
      input[type="text"] {
        width: 70%;
        height: 3rem;
        padding-left: 1rem;
        border: none;
        border-radius: 5px;
        outline: none;
      }
      .btn-add {
        margin-left: 10px;
        height: 3rem;
        width: 30%;
        font-size: 1.8rem;
        background-color: $btnGold;
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
      }
    }
  }
}
