$btnGold: #ffc212;
.main-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  .container-input{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 65rem;
    margin: auto auto; 
    input[type="text"] {
      margin-top: 10px;
      width: 50rem;
      height: 3rem;
      padding-left: 0.5rem;
    }
    .btn-add {
      margin-top: 10px;
      margin-left: 10px;
      height: 3rem;
      width: 20rem;
      font-size: 1.6rem;
      background-color: $btnGold;
      color: #171721;

    }
  }
  #btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65rem;
    margin: auto auto;
    button{
      background-color: $btnGold;
      font-size: 1.6rem;
      height: 3rem;
      width: 18rem;
    }

  }

}
