.container-todobody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  h2{
    margin-top: 5px;
  }
  ul {
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    li {
      margin-top: 1rem;
      list-style: none;
      width: 60%;
      height: 5rem;
      border-style: solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        margin-left: 10px;
      }
      .container-icons {
        display: flex;
        width: 150px;
        justify-content: space-around;
      }
    }
  }
}