.container-userpage {
  width: 100%;
  border-radius: 1rem;
  z-index: 0;
  display: flex;
  justify-content: center;
  .container-userprofile {
    margin-top: 9rem;
    width: 50rem;
    .container-userprofile-img {
      width: 20rem;
      height: 20rem;
    }
    .userName {
      margin-top: 1.5rem;
    }
    .container-todo-info {
      display: flex;
      justify-content: space-between;
      width: 50rem;
    }
  }
}
